@using SKAuto.Web.ViewModels.ViewModels.ModelViewModels;
@model ModelUpdateOutputModel;

@{
    ViewData["Title"] = "Update";
}

<h1 class="text-white text-center">Промени Модел</h1>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <form id="account" method="post">
            <hr class="bg-white" />
            <div class="form-group" type="hidden">
                <input class="form-control" id="id" name="id" value="@Model.ModelId" type="hidden" />
            </div>
            <div class="form-group">
                <label>Име на бранд</label>
                <input class="form-control" id="name" name="name" value="@Model.ModelName" />
            </div>
            <div class="form-group">
                <label>Година от</label>
                <input class="form-control" id="startYear" name="startYear" value="@Model.StartYear" />
            </div>
            <div class="form-group">
                <label>Година до</label>
                <input class="form-control" id="endYear" name="endYear" value="@Model.EndYear" />
            </div>
            <div class="form-group">
                <label>Избери бранд</label>
                <select class="form-control" id="brandName" name="brandName" type="text">
                    <option selected disabled>@Model.BrandName</option>
                    @for (int i = 0; i < Model.AllBrandNames.Count(); i++)
                    {
                        <option>@Model.AllBrandNames[i]</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Адрес на снимка</label>
                <input class="form-control" id="imageAddress" name="imageAddress" type="text" value="@Model.ImageAddress" />
                <label class="text-primary">Важно: Ако не промените адреса, бранда остава със старата снимка!</label>
            </div>
            <hr class="bg-white" />
            <div class="form-group text-center">
                <button type="submit" class="btn skl-bg-color border">Промени</button>
            </div>
        </form>
    </div>
</div>

