    @using SKAuto.Web.ViewModels.ViewModels.PartViewModels;
@model IList<PartByCategoryAndModelViewModel>;

@{
    ViewData["Title"] = "All";
}

@{
    int count = 0;
}

<div class="table-responsive">
    @if (Model.Count() == 0)
    {
        <h3 class="text-danger ">В момента няма налични части за този модел автомобил!!!</h3>
    }
    else
    {
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="text-white skl-bg-color border" scope="col">#</th>
                    <th class="text-white skl-bg-color border" scope="col">Име на част</th>
                    <th class="text-white skl-bg-color border" scope="col">Марка и модел</th>
                    <th class="text-white skl-bg-color border" scope="col">Категория</th>
                    <th class="text-white skl-bg-color border" scope="col">Производител</th>
                    <th class="text-white skl-bg-color border" scope="col">Цена за брой</th>
                    <th class="text-white skl-bg-color border" scope="col">Поръчай част</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    ++count;
                    <tr class="text-center">
                        <td class="text-white skl-bg-color border" scope="col">@count</td>
                        <td class="text-white skl-bg-color border" id="partName" name="partName" scope="col">@Model[i].PartName</td>
                        <td class="text-white skl-bg-color border" id="brandAndModelName" name="brandAndModelName" scope="col">@Model[i].BrandAndModelName</td>
                        <td class="text-white skl-bg-color border" id="categoryName" name="categoryName" scope="col">@Model[i].CategoryName</td>
                        <td class="text-white skl-bg-color border" id="manufactoryName" name="manufactoryName" scope="col">@Model[i].ManufactoryName</td>
                        <td class="text-white skl-bg-color border" id="sellPrice" name="sellPrice" scope="col">@Model[i].SellPrice лв.</td>
                        @if (Model[i].Quantity == 0)
                        {
                            <td class="text-white skl-bg-color border" scope="col">Няма наличност</td>
                        }
                        else
                        {
                            <td class="text-white skl-bg-color border" scope="col"><a class="btn bg-dark border p-1 text-white" href="/Recipient/Home?partId=@Model[i].PartId">Поръчай</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


