@using SKAutoNew.Web.ViewModels.RecipientViewModels;
@model RecipientUpdateParamsViewModel;

<h1 class="text-white text-center">Промени получател</h1>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <form id="account" method="post">
            <hr class="bg-white" />
            <div class="form-group">
                <label>Име</label>
                <input class="form-control" name="firstName" value="@Model.FirstName" />
            </div>
            <div class="form-group">
                <label>Фамилия</label>
                <input class="form-control" name="lastName" value="@Model.LastName" />
            </div>
            <div class="form-group">
                <label>Град</label>
                <input class="form-control" name="recipientTown" value="@Model.RecipientTown" />
            </div>
            <div class="form-group">
                <label>Адрес</label>
                <input class="form-control" name="address" value="@Model.Address" />
            </div>
            <div class="form-group">
                <label>Телефон</label>
                <input class="form-control" name="phone" value="@Model.Phone" />
            </div>
            <hr class="bg-white" />
            <div class="form-group text-center">
                <button type="submit" class="btn skl-bg-color border">Промени</button>
            </div>
        </form>
    </div>
</div>
