@using SKAutoNew.Web.ViewModels.CompanyViewModels;
@model IList<CompanyIndexViewmodel>;
@*<h1 style="color:white">Операции с компании</h1>

    <div class="row text-white justify-content-xl-center">
        <div class="col-md-4">
            <section>
                <form>
                    <hr class="bg-white" />
                    <div class="form-group border rounded text-white text-center skl-bg-color">
                        <a class="btn btn-lg btn-block text-white" asp-controller="Company" asp-action="Create">Добави нова компания</a>
                    </div>
                    <div class="form-group border rounded text-white text-center skl-bg-color">
                        <a class="btn btn-lg btn-block text-white" href="">Изтрий компания</a>
                    </div>
                    <div class="form-group border rounded text-white text-center skl-bg-color">
                        <a class="btn btn-lg btn-block text-white" href="">Промени компания</a>
                    </div>
                    <hr class="bg-white" />
                </form>
            </section>
        </div>
    </div>*@

@{
    int count = 0;
}

<h1 style="color:white">Операции с компании</h1>

<div class="form-group border rounded text-white text-center skl-bg-color mt-5">
    <a class="btn btn-lg btn-block text-white" asp-controller="Company" asp-action="Create">Добави нова компания</a>
</div>



<div class="table-responsive">
    @if (Model.Count() == 0)
    {
        <h3 class="text-danger ">В момента няма данни за категории!!!</h3>
    }
    else
    {
<table class="table text-center">
    <thead>
        <tr>
            <th class="text-white skl-bg-color border" scope="col">Име на фирма</th>
            <th class="text-white skl-bg-color border" scope="col">Град</th>
            <th class="text-white skl-bg-color border" scope="col">Адрес</th>
            <th class="text-white skl-bg-color border" scope="col">Телефон за връзка</th>
            <th class="text-white skl-bg-color border" scope="col">Категория</th>
            <th class="text-white skl-bg-color border" scope="col">Промени / Изтрий</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.OrderBy(x => x.CategoryName).ThenBy(x => x.TownName).ThenBy(x => x.Address).Count(); i++)
        {
            ++count;
        <tr class="text-center">
            <td class="text-white skl-bg-color border" scope="col">@Model[i].Name</td>
            <td class="text-white skl-bg-color border" scope="col">@Model[i].TownName</td>
            <td class="text-white skl-bg-color border" scope="col">@Model[i].Address</td>
            <td class="text-white skl-bg-color border" scope="col">@Model[i].Phone</td>
            <td class="text-white skl-bg-color border" scope="col">@Model[i].CategoryName</td>
            <td class="text-white skl-bg-color border align-middle" scope="col">
                <a class="btn bg-dark border p-1 text-white" asp-controller="Company" asp-action="Update" asp-route-companyId="@Model[i].CompanyId">Промени</a>
                <a class="btn bg-danger border p-1 text-white" asp-controller="Company" asp-action="Delete" asp-route-companyId="@Model[i].CompanyId">Изтрий</a>
            </td>
        </tr>
        }
    </tbody>
</table>
    }
</div>

