@using SKAuto.Web.ViewModels.ViewModels.BrandViewModels;
@model List<BrndIndexViewModel>;

@{
    ViewData["Title"] = "Index";
}

@{
    int count = 0;
}

<h1 style="color:white">Операции с брандове</h1>

<div class="form-group border rounded text-white text-center skl-bg-color mt-5">
    <a class="btn btn-lg btn-block text-white" asp-controller="Brand" asp-action="Create">Добави нов бранд</a>
</div>



<div class="table-responsive">
    @if (Model.Count() == 0)
    {
        <h3 class="text-danger ">В момента няма данни за брандое!!!</h3>
    }
    else
    {
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="text-white skl-bg-color border" scope="col">#</th>
                    <th class="text-white skl-bg-color border" scope="col">Лого</th>
                    <th class="text-white skl-bg-color border" scope="col">Име на бранд</th>
                    <th class="text-white skl-bg-color border" scope="col">Промени/Изтрий</th>>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    ++count;
                    <tr class="text-center">
                        <td class="text-white skl-bg-color border" scope="col">@count</td>
                        <td class="text-white skl-bg-color border" scope="col">
                            <img src="@Model[i].ImageAddress" width="50" height="50"/>
                        </td>
                        <td class="text-white skl-bg-color border" id="partName" name="partName" scope="col">@Model[i].BrandName</td>
                        <td class="text-white skl-bg-color border" scope="col">
                            <a class="btn bg-dark border p-1 text-white" asp-controller="Brand" asp-action="Update" asp-route-brandId="@Model[i].BrandId">Промени</a>
                            <a class="btn bg-danger border p-1 text-white" asp-controller="Brand" asp-action="Delete" asp-route-brandId="@Model[i].BrandId">Изтрий</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
