@using SKAutoNew.Web.ViewModels.OrderViewModels;
@model IList<IndexOrderViewModel>;

@{
    ViewData["Title"] = "Index";
}

@{
    int count = 0;
}

<div class="table-responsive">
    @if (Model.Count() == 0)
    {
        <h3 class="text-danger ">В момента няма налични поръчки!!!</h3>
    }
    else
    {
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="text-white skl-bg-color border" scope="col">#</th>
                    <th class="text-white skl-bg-color border" scope="col">Дата на поръчка</th>
                    <th class="text-white skl-bg-color border" scope="col">Получател</th>
                    <th class="text-white skl-bg-color border" scope="col">Статус на поръчката</th>
                    <th class="text-white skl-bg-color border" scope="col">Цена на поръчката</th>
                    <th class="text-white skl-bg-color border" scope="col">Промени / Изтрий</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    ++count;
                    <tr class="text-center">
                        <td class="text-white skl-bg-color border" scope="col">@count</td>
                        <td class="text-white skl-bg-color border" name="issuedOn" scope="col">@Model[i].IssuedOn.ToString("dd/MM/yyyy hh:mm")</td>
                        <td class="text-white skl-bg-color border" name="recipientName" scope="col">@Model[i].RecipientName</td>
                        <td class="text-white skl-bg-color border" name="orderStatusName" scope="col">@Model[i].OrderStatusName</td>
                        <td class="text-white skl-bg-color border" name="orderTotalPrice" scope="col">@Model[i].OrderTotalPrice лв.</td>
                        <td class="text-white skl-bg-color border align-middle" scope="col">
                            <a class="btn bg-dark border p-1 text-white" asp-controller="Order" asp-action="Update" asp-route-orderId="@Model[i].Id">Промени</a>
                            <a class="btn bg-danger border p-1 text-white" asp-controller="Order" asp-action="Delete" asp-route-orderId="@Model[i].Id">Изтрий</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
